<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
        {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <style>
        table,th,td{
            border-right:#6610f2 solid 2px
        }
    </style>

</head>
<body>
<table class="table table-hover" style="border: #6610f2 solid 2px;">
<h4 style="text-decoration: underline">Travel Timetables</h4>
    <thead style="background-color: #0f5132; color: white">
    <th>SACCO</th>
    <th>START</th>
    <th>END</th>
    <th>DEPARTURE</th>
    <th>ARRIVAL</th>
    </thead>
    <tbody>
    {% for x in det %}
        <tr>
            <td>{{ x.sacco }}</td>
            <td>{{ x.start }}</td>
            <td>{{ x.end }}</td>
            <td>{{ x.departure }}</td>
            <td>{{ x.arrival }}</td>
        </tr>
     {% endfor %}
    </tbody>
</table>
</body>

</html>